*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak

.python-version

.DS_Store

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/aws.xml

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

*.iws

out/

atlassian-ide-plugin.xml

*.py[cod]
*$py.class

.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.ipynb_checkpoints

.python-version

celerybeat-schedule.*

*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/site

.mypy_cache/

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
/app/static/admin/css/vendor/select2/LICENSE-SELECT2.md
/app/static/admin/css/vendor/select2/select2.css
/app/static/admin/css/vendor/select2/select2.min.css
/app/static/admin/css/autocomplete.css
/app/static/admin/css/base.css
/app/static/admin/css/changelists.css
/app/static/admin/css/dashboard.css
/app/static/admin/css/fonts.css
/app/static/admin/css/forms.css
/app/static/admin/css/login.css
/app/static/admin/css/nav_sidebar.css
/app/static/admin/css/responsive.css
/app/static/admin/css/responsive_rtl.css
/app/static/admin/css/rtl.css
/app/static/admin/css/widgets.css
/app/static/admin/fonts/LICENSE.txt
/app/static/admin/fonts/README.txt
/app/static/admin/fonts/Roboto-Bold-webfont.woff
/app/static/admin/fonts/Roboto-Light-webfont.woff
/app/static/admin/fonts/Roboto-Regular-webfont.woff
/app/static/admin/img/gis/move_vertex_off.svg
/app/static/admin/img/gis/move_vertex_on.svg
/app/static/admin/img/calendar-icons.svg
/app/static/admin/img/icon-addlink.svg
/app/static/admin/img/icon-alert.svg
/app/static/admin/img/icon-calendar.svg
/app/static/admin/img/icon-changelink.svg
/app/static/admin/img/icon-clock.svg
/app/static/admin/img/icon-deletelink.svg
/app/static/admin/img/icon-no.svg
/app/static/admin/img/icon-unknown.svg
/app/static/admin/img/icon-unknown-alt.svg
/app/static/admin/img/icon-viewlink.svg
/app/static/admin/img/icon-yes.svg
/app/static/admin/img/inline-delete.svg
/app/static/admin/img/LICENSE
/app/static/admin/img/README.txt
/app/static/admin/img/search.svg
/app/static/admin/img/selector-icons.svg
/app/static/admin/img/sorting-icons.svg
/app/static/admin/img/tooltag-add.svg
/app/static/admin/img/tooltag-arrowright.svg
/app/static/admin/js/admin/DateTimeShortcuts.js
/app/static/admin/js/admin/RelatedObjectLookups.js
/app/static/admin/js/vendor/jquery/jquery.js
/app/static/admin/js/vendor/jquery/jquery.min.js
/app/static/admin/js/vendor/jquery/LICENSE.txt
/app/static/admin/js/vendor/select2/i18n/af.js
/app/static/admin/js/vendor/select2/i18n/ar.js
/app/static/admin/js/vendor/select2/i18n/az.js
/app/static/admin/js/vendor/select2/i18n/bg.js
/app/static/admin/js/vendor/select2/i18n/bn.js
/app/static/admin/js/vendor/select2/i18n/bs.js
/app/static/admin/js/vendor/select2/i18n/ca.js
/app/static/admin/js/vendor/select2/i18n/cs.js
/app/static/admin/js/vendor/select2/i18n/da.js
/app/static/admin/js/vendor/select2/i18n/de.js
/app/static/admin/js/vendor/select2/i18n/dsb.js
/app/static/admin/js/vendor/select2/i18n/el.js
/app/static/admin/js/vendor/select2/i18n/en.js
/app/static/admin/js/vendor/select2/i18n/es.js
/app/static/admin/js/vendor/select2/i18n/et.js
/app/static/admin/js/vendor/select2/i18n/eu.js
/app/static/admin/js/vendor/select2/i18n/fa.js
/app/static/admin/js/vendor/select2/i18n/fi.js
/app/static/admin/js/vendor/select2/i18n/fr.js
/app/static/admin/js/vendor/select2/i18n/gl.js
/app/static/admin/js/vendor/select2/i18n/he.js
/app/static/admin/js/vendor/select2/i18n/hi.js
/app/static/admin/js/vendor/select2/i18n/hr.js
/app/static/admin/js/vendor/select2/i18n/hsb.js
/app/static/admin/js/vendor/select2/i18n/hu.js
/app/static/admin/js/vendor/select2/i18n/hy.js
/app/static/admin/js/vendor/select2/i18n/id.js
/app/static/admin/js/vendor/select2/i18n/is.js
/app/static/admin/js/vendor/select2/i18n/it.js
/app/static/admin/js/vendor/select2/i18n/ja.js
/app/static/admin/js/vendor/select2/i18n/ka.js
/app/static/admin/js/vendor/select2/i18n/km.js
/app/static/admin/js/vendor/select2/i18n/ko.js
/app/static/admin/js/vendor/select2/i18n/lt.js
/app/static/admin/js/vendor/select2/i18n/lv.js
/app/static/admin/js/vendor/select2/i18n/mk.js
/app/static/admin/js/vendor/select2/i18n/ms.js
/app/static/admin/js/vendor/select2/i18n/nb.js
/app/static/admin/js/vendor/select2/i18n/ne.js
/app/static/admin/js/vendor/select2/i18n/nl.js
/app/static/admin/js/vendor/select2/i18n/pl.js
/app/static/admin/js/vendor/select2/i18n/ps.js
/app/static/admin/js/vendor/select2/i18n/pt.js
/app/static/admin/js/vendor/select2/i18n/pt-BR.js
/app/static/admin/js/vendor/select2/i18n/ro.js
/app/static/admin/js/vendor/select2/i18n/ru.js
/app/static/admin/js/vendor/select2/i18n/sk.js
/app/static/admin/js/vendor/select2/i18n/sl.js
/app/static/admin/js/vendor/select2/i18n/sq.js
/app/static/admin/js/vendor/select2/i18n/sr.js
/app/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
/app/static/admin/js/vendor/select2/i18n/sv.js
/app/static/admin/js/vendor/select2/i18n/th.js
/app/static/admin/js/vendor/select2/i18n/tk.js
/app/static/admin/js/vendor/select2/i18n/tr.js
/app/static/admin/js/vendor/select2/i18n/uk.js
/app/static/admin/js/vendor/select2/i18n/vi.js
/app/static/admin/js/vendor/select2/i18n/zh-CN.js
/app/static/admin/js/vendor/select2/i18n/zh-TW.js
/app/static/admin/js/vendor/select2/LICENSE.md
/app/static/admin/js/vendor/select2/select2.full.js
/app/static/admin/js/vendor/select2/select2.full.min.js
/app/static/admin/js/vendor/xregexp/LICENSE.txt
/app/static/admin/js/vendor/xregexp/xregexp.js
/app/static/admin/js/vendor/xregexp/xregexp.min.js
/app/static/admin/js/actions.js
/app/static/admin/js/autocomplete.js
/app/static/admin/js/calendar.js
/app/static/admin/js/cancel.js
/app/static/admin/js/change_form.js
/app/static/admin/js/collapse.js
/app/static/admin/js/core.js
/app/static/admin/js/inlines.js
/app/static/admin/js/jquery.init.js
/app/static/admin/js/nav_sidebar.js
/app/static/admin/js/popup_response.js
/app/static/admin/js/prepopulate.js
/app/static/admin/js/prepopulate_init.js
/app/static/admin/js/SelectBox.js
/app/static/admin/js/SelectFilter2.js
/app/static/admin/js/urlify.js
/app/static/debug_toolbar/css/print.css
/app/static/debug_toolbar/css/toolbar.css
/app/static/debug_toolbar/js/history.js
/app/static/debug_toolbar/js/redirect.js
/app/static/debug_toolbar/js/timer.js
/app/static/debug_toolbar/js/toolbar.js
/app/static/debug_toolbar/js/utils.js
/app/static/django_extensions/css/jquery.autocomplete.css
/app/static/django_extensions/img/indicator.gif
/app/static/django_extensions/js/jquery.ajaxQueue.js
/app/static/django_extensions/js/jquery.autocomplete.js
/app/static/django_extensions/js/jquery.bgiframe.js
/etl_3/README.md
